body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
}

input[type="text"] {
    width: 100%;
     padding: 10px 0 10px 0;
    margin-bottom: 10px;
    font-size: 20px;
  
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 3px;
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
