/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-align: left;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

button {
    padding: 10px;
}

select, input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
}

.checkbox-label {
    margin-right: 10px;
}

.checkbox-label:last-child {
    margin-right: 0;
} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


input[type="text"], input[type="email"], input[type="tel"], select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"] , input[type="checkbox"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: #333;
}

.checkbox-label {
    margin-right: 10px;
}

.checkbox-label:last-child {
    margin-right: 0;
}

.checkbox-label label {
    font-weight: normal;
    color: #333;
}

.button-group {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #000;
}
